Workflows/Dataverse-excelv4-F988ECBB-37CD-EB11-BACC-0022486D7E2C.json
{"properties":{"connectionReferences":{"shared_excelonlinebusiness":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"ss_sharedexcelonlinebusiness_52ac5"},"api":{"name":"shared_excelonlinebusiness"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"ss_sharedcommondataserviceforapps_aaf57"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"ss_securityapplications","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Add_a_row_into_All_table":{"runAfter":{"If_req_is_transfer":["Succeeded"]},"metadata":{"01K6DKMEEZLMBBC2HBBRF2SBLFFYUXLQUD":"/Security Screening CSV/Applications_Static.xlsx","tableId":"{00000000-000C-0000-FFFF-FFFF00000000}","01VYQUAH2EL34UZVYNJJHZVQPNNPRV7UZZ":"/General/Applications_Static.xlsx","01VYQUAH5TFPXVBFEM6RCZW4ZHFEIVICB2":"/General/Applications_Static.xlsx","01K6DKMEGFSAF54S3NDBC3KRIQGDQPZRJV":"/Security Screening CSV/Applications_Static.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"groups/68a33be5-d3e1-4a2a-a0b0-bac7b74f35e1","drive":"b!XLIm9vGa4EquXJ3nLAdPn0wrZbF6pqBIl_7TfcIQQ8p3DaslgsH5QKN3y0owYTCl","file":"01K6DKMEGFSAF54S3NDBC3KRIQGDQPZRJV","table":"{00000000-000C-0000-FFFF-FFFF00000000}","item/Request Type":"@variables('reqType')","item/Created On":"@triggerOutputs()?['body/createdon']","item/User Email":"@triggerOutputs()?['body/ss_useremail']","item/User Full Name":"@triggerOutputs()?['body/ss_userfullname']","item/Requester's Name":"@triggerOutputs()?['body/ss_requestername']","item/Requester's email":"@triggerOutputs()?['body/ss_requesteremail']","item/Department w~1 Current Clearance":"@triggerOutputs()?['body/ss_departmentwithheldclearance']","item/Previous Held Clearance?":"@variables('formPrevComp')","item/Employer Name":"@triggerOutputs()?['body/ss_employername']","item/Screening Lvl":"@triggerOutputs()?['body/ss_screeninglevel']","item/Screening Year":"@triggerOutputs()?['body/ss_screeningyear']","item/Financial Coding":"@triggerOutputs()?['body/ss_financialcode']","item/Lvl Req":"@variables('lvlReq')","item/Lvl Req Other":"@triggerOutputs()?['body/ss_levelrequiredother']","item/Pos Type":"@variables('posType')","item/Pos Type Other":"@triggerOutputs()?['body/ss_positiontypeother']","item/Justification":"@triggerOutputs()?['body/ss_justification']","item/StartDate":"@triggerOutputs()?['body/ss_startdate']","item/EndDate":"@triggerOutputs()?['body/ss_enddate']","item/Pos Number":"@triggerOutputs()?['body/ss_positionnumber']","item/Pos Title":"@triggerOutputs()?['body/ss_positiontitle']","item/Group ~1 Lvl":"@triggerOutputs()?['body/ss_grouplevel']","item/PRI ~1 ID":"@triggerOutputs()?['body/ss_idnumberprirankandservicenumber']","item/Hiring Manager Name":"@triggerOutputs()?['body/ss_hiringmanager']","item/Hiring Manager Email":"@triggerOutputs()?['body/ss_hiringmanageremail']","item/Hiring Manager Phone":"@triggerOutputs()?['body/ss_hiringmanagerworkphone']","item/Hiring Manager Fax":"@triggerOutputs()?['body/ss_faxnumber']","item/New~1Existing":"@variables('newOrExist')","item/Applicant First Name":"@triggerOutputs()?['body/ss_candidatelegalgivennames']","item/Applicant Last Name":"@triggerOutputs()?['body/ss_candidatesurname']","item/Applicant DOB":"@triggerOutputs()?['body/ss_candidatedob']","item/Preferred Language":"@variables('prefLang')","item/Applicant Email":"@triggerOutputs()?['body/ss_candidateemail']"},"authentication":"@parameters('$authentication')"}},"get_reqType":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ss_requesttypes","recordId":"@triggerOutputs()?['body/_ss_requesttype_value']"},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{"get_reqType":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"reqType","type":"string","value":"@outputs('get_reqType')?['body/ss_name']"}]}},"If_req_is_not_verification":{"actions":{"get_lvlReq":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ss_levelrequesteds","recordId":"@triggerOutputs()?['body/_ss_levelrequested_value']"},"authentication":"@parameters('$authentication')"}},"Set_variable":{"runAfter":{"get_lvlReq":["Succeeded"]},"type":"SetVariable","inputs":{"name":"lvlReq","value":"@outputs('get_lvlReq')?['body/ss_name']"}},"get_posType":{"runAfter":{"Set_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ss_positiontypes","recordId":"@triggerOutputs()?['body/_ss_positiontype_value']"},"authentication":"@parameters('$authentication')"}},"Set_variable_2":{"runAfter":{"get_posType":["Succeeded"]},"type":"SetVariable","inputs":{"name":"posType","value":"@outputs('get_posType')?['body/ss_name']"}},"getNewExisting":{"runAfter":{"Set_variable_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ss_neworexistingcandidates","recordId":"@triggerOutputs()?['body/_ss_neworexistingcandidate_value']"},"authentication":"@parameters('$authentication')"}},"Set_variable_3":{"runAfter":{"getNewExisting":["Succeeded"]},"type":"SetVariable","inputs":{"name":"newOrExist","value":"@outputs('getNewExisting')?['body/ss_name']"}},"getLang":{"runAfter":{"Set_variable_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ss_preferredlanguages","recordId":"@triggerOutputs()?['body/_ss_preferredlanguage_value']"},"authentication":"@parameters('$authentication')"}},"Set_variable_4":{"runAfter":{"getLang":["Succeeded"]},"type":"SetVariable","inputs":{"name":"prefLang","value":"@outputs('getLang')?['body/ss_name']"}}},"runAfter":{"Initialize_variable_6":["Succeeded"]},"expression":{"not":{"equals":["@variables('reqType')","Verification"]}},"type":"If"},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"lvlReq","type":"string"}]}},"Initialize_variable_3":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"posType","type":"string"}]}},"Initialize_variable_4":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"newOrExist","type":"string"}]}},"Initialize_variable_5":{"runAfter":{"Initialize_variable_4":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"prefLang","type":"string"}]}},"Initialize_variable_6":{"runAfter":{"Initialize_variable_5":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"formPrevComp","type":"string"}]}},"If_req_is_transfer":{"actions":{"getFormPrevComp":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ss_formpreviouslycompleteds","recordId":"@triggerOutputs()?['body/_ss_formpreviouslycompleted_value']"},"authentication":"@parameters('$authentication')"}},"Set_variable_5":{"runAfter":{"getFormPrevComp":["Succeeded"]},"type":"SetVariable","inputs":{"name":"formPrevComp","value":"@outputs('getFormPrevComp')?['body/ss_name']"}}},"runAfter":{"If_req_is_not_verification":["Succeeded"]},"expression":{"equals":["@variables('reqType')","Transfer"]},"type":"If"},"Switch":{"runAfter":{"Add_a_row_into_All_table":["Succeeded"]},"cases":{"Case_New":{"case":"New","actions":{"Add_a_row_into_New":{"runAfter":{},"metadata":{"01K6DKMEEZLMBBC2HBBRF2SBLFFYUXLQUD":"/Security Screening CSV/Applications_Static.xlsx","tableId":"{00000000-000C-0000-FFFF-FFFF01000000}","01VYQUAH2EL34UZVYNJJHZVQPNNPRV7UZZ":"/General/Applications_Static.xlsx","01VYQUAH5TFPXVBFEM6RCZW4ZHFEIVICB2":"/General/Applications_Static.xlsx","01K6DKMEGFSAF54S3NDBC3KRIQGDQPZRJV":"/Security Screening CSV/Applications_Static.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"groups/68a33be5-d3e1-4a2a-a0b0-bac7b74f35e1","drive":"b!XLIm9vGa4EquXJ3nLAdPn0wrZbF6pqBIl_7TfcIQQ8p3DaslgsH5QKN3y0owYTCl","file":"01K6DKMEGFSAF54S3NDBC3KRIQGDQPZRJV","table":"{00000000-000C-0000-FFFF-FFFF01000000}","item/Request Type":"@variables('reqType')","item/Created On":"@triggerOutputs()?['body/createdon']","item/User Email":"@triggerOutputs()?['body/ss_useremail']","item/User Full Name":"@triggerOutputs()?['body/ss_userfullname']","item/Financial Coding":"@triggerOutputs()?['body/ss_financialcode']","item/Lvl Req":"@variables('lvlReq')","item/Lvl Req Other":"@triggerOutputs()?['body/ss_levelrequiredother']","item/Pos Type":"@variables('posType')","item/Pos Type Other":"@triggerOutputs()?['body/ss_positiontypeother']","item/Justification":"@triggerOutputs()?['body/ss_justification']","item/StartDate":"@triggerOutputs()?['body/ss_startdate']","item/EndDate":"@triggerOutputs()?['body/ss_enddate']","item/Pos Number":"@triggerOutputs()?['body/ss_positionnumber']","item/Pos Title":"@triggerOutputs()?['body/ss_positiontitle']","item/Group ~1 Lvl":"@triggerOutputs()?['body/ss_grouplevel']","item/PRI ~1 ID":"@triggerOutputs()?['body/ss_idnumberprirankandservicenumber']","item/Hiring Manager Name":"@triggerOutputs()?['body/ss_hiringmanager']","item/Hiring Manager Email":"@triggerOutputs()?['body/ss_hiringmanageremail']","item/Hiring Manager Phone":"@triggerOutputs()?['body/ss_hiringmanagerworkphone']","item/Hiring Manager Fax":"@triggerOutputs()?['body/ss_faxnumber']","item/New~1Existing":"@variables('newOrExist')","item/Applicant First Name":"@triggerOutputs()?['body/ss_candidatelegalgivennames']","item/Applicant Last Name":"@triggerOutputs()?['body/ss_candidatesurname']","item/Applicant DOB":"@triggerOutputs()?['body/ss_candidatedob']","item/Preferred Language":"@variables('prefLang')","item/Applicant Email":"@triggerOutputs()?['body/ss_candidateemail']"},"authentication":"@parameters('$authentication')"}}}},"Case_Upgrade":{"case":"Upgrade","actions":{"Add_a_row_into_Upgrade":{"runAfter":{},"metadata":{"01K6DKMEEZLMBBC2HBBRF2SBLFFYUXLQUD":"/Security Screening CSV/Applications_Static.xlsx","tableId":"{00000000-000C-0000-FFFF-FFFF02000000}","01VYQUAH2EL34UZVYNJJHZVQPNNPRV7UZZ":"/General/Applications_Static.xlsx","01VYQUAH5TFPXVBFEM6RCZW4ZHFEIVICB2":"/General/Applications_Static.xlsx","01K6DKMEGFSAF54S3NDBC3KRIQGDQPZRJV":"/Security Screening CSV/Applications_Static.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"groups/68a33be5-d3e1-4a2a-a0b0-bac7b74f35e1","drive":"b!XLIm9vGa4EquXJ3nLAdPn0wrZbF6pqBIl_7TfcIQQ8p3DaslgsH5QKN3y0owYTCl","file":"01K6DKMEGFSAF54S3NDBC3KRIQGDQPZRJV","table":"{00000000-000C-0000-FFFF-FFFF02000000}","item/Request Type":"@variables('reqType')","item/Created On":"@triggerOutputs()?['body/createdon']","item/User Email":"@triggerOutputs()?['body/ss_useremail']","item/User Full Name":"@triggerOutputs()?['body/ss_userfullname']","item/Financial Coding":"@triggerOutputs()?['body/ss_financialcode']","item/Lvl Req":"@variables('lvlReq')","item/Lvl Req Other":"@triggerOutputs()?['body/ss_levelrequiredother']","item/Pos Type":"@variables('posType')","item/Pos Type Other":"@triggerOutputs()?['body/ss_positiontypeother']","item/Justification":"@triggerOutputs()?['body/ss_justification']","item/StartDate":"@triggerOutputs()?['body/ss_startdate']","item/EndDate":"@triggerOutputs()?['body/ss_enddate']","item/Pos Number":"@triggerOutputs()?['body/ss_positionnumber']","item/Pos Title":"@triggerOutputs()?['body/ss_positiontitle']","item/Group ~1 Lvl":"@triggerOutputs()?['body/ss_grouplevel']","item/PRI ~1 ID":"@triggerOutputs()?['body/ss_idnumberprirankandservicenumber']","item/Hiring Manager Name":"@triggerOutputs()?['body/ss_hiringmanager']","item/Hiring Manager Email":"@triggerOutputs()?['body/ss_hiringmanageremail']","item/Hiring Manager Phone":"@triggerOutputs()?['body/ss_hiringmanagerworkphone']","item/Hiring Manager Fax":"@triggerOutputs()?['body/ss_faxnumber']","item/New~1Existing":"@variables('newOrExist')","item/Applicant First Name":"@triggerOutputs()?['body/ss_candidatelegalgivennames']","item/Applicant Last Name":"@triggerOutputs()?['body/ss_candidatesurname']","item/Applicant DOB":"@triggerOutputs()?['body/ss_candidatedob']","item/Preferred Language":"@variables('prefLang')","item/Applicant Email":"@triggerOutputs()?['body/ss_candidateemail']"},"authentication":"@parameters('$authentication')"}}}},"Case_Transfer":{"case":"Transfer","actions":{"Add_a_row_into_Transfer":{"runAfter":{},"metadata":{"01K6DKMEEZLMBBC2HBBRF2SBLFFYUXLQUD":"/Security Screening CSV/Applications_Static.xlsx","tableId":"{00000000-000C-0000-FFFF-FFFF03000000}","01VYQUAH2EL34UZVYNJJHZVQPNNPRV7UZZ":"/General/Applications_Static.xlsx","01VYQUAH5TFPXVBFEM6RCZW4ZHFEIVICB2":"/General/Applications_Static.xlsx","01K6DKMEGFSAF54S3NDBC3KRIQGDQPZRJV":"/Security Screening CSV/Applications_Static.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"groups/68a33be5-d3e1-4a2a-a0b0-bac7b74f35e1","drive":"b!XLIm9vGa4EquXJ3nLAdPn0wrZbF6pqBIl_7TfcIQQ8p3DaslgsH5QKN3y0owYTCl","file":"01K6DKMEGFSAF54S3NDBC3KRIQGDQPZRJV","table":"{00000000-000C-0000-FFFF-FFFF03000000}","item/Request Type":"@variables('reqType')","item/Created On":"@triggerOutputs()?['body/createdon']","item/User Email":"@triggerOutputs()?['body/ss_useremail']","item/User Full Name":"@triggerOutputs()?['body/ss_userfullname']","item/Previous Held Clearance?":"@variables('formPrevComp')","item/Employer Name":"@triggerOutputs()?['body/ss_employername']","item/Screening Lvl":"@triggerOutputs()?['body/ss_screeninglevel']","item/Screening Year":"@triggerOutputs()?['body/ss_screeningyear']","item/Lvl Req":"@variables('lvlReq')","item/Lvl Req Other":"@triggerOutputs()?['body/ss_levelrequiredother']","item/Pos Type":"@variables('posType')","item/Pos Type Other":"@triggerOutputs()?['body/ss_positiontypeother']","item/Justification":"@triggerOutputs()?['body/ss_justification']","item/StartDate":"@triggerOutputs()?['body/ss_startdate']","item/EndDate":"@triggerOutputs()?['body/ss_enddate']","item/Pos Number":"@triggerOutputs()?['body/ss_positionnumber']","item/Pos Title":"@triggerOutputs()?['body/ss_positiontitle']","item/Group ~1 Lvl":"@triggerOutputs()?['body/ss_grouplevel']","item/PRI ~1 ID":"@triggerOutputs()?['body/ss_idnumberprirankandservicenumber']","item/Hiring Manager Name":"@triggerOutputs()?['body/ss_hiringmanager']","item/Hiring Manager Email":"@triggerOutputs()?['body/ss_hiringmanageremail']","item/Hiring Manager Phone":"@triggerOutputs()?['body/ss_hiringmanagerworkphone']","item/Hiring Manager Fax":"@triggerOutputs()?['body/ss_faxnumber']","item/New~1Existing":"@variables('newOrExist')","item/Applicant First Name":"@triggerOutputs()?['body/ss_candidatelegalgivennames']","item/Applicant Last Name":"@triggerOutputs()?['body/ss_candidatesurname']","item/Applicant DOB":"@triggerOutputs()?['body/ss_candidatedob']","item/Preferred Language":"@variables('prefLang')","item/Applicant Email":"@triggerOutputs()?['body/ss_candidateemail']"},"authentication":"@parameters('$authentication')"}}}},"Case_Reactivation":{"case":"Reactivation","actions":{"Add_a_row_into_Reactivation":{"runAfter":{},"metadata":{"01K6DKMEEZLMBBC2HBBRF2SBLFFYUXLQUD":"/Security Screening CSV/Applications_Static.xlsx","tableId":"{00000000-000C-0000-FFFF-FFFF05000000}","01VYQUAH2EL34UZVYNJJHZVQPNNPRV7UZZ":"/General/Applications_Static.xlsx","01VYQUAH5TFPXVBFEM6RCZW4ZHFEIVICB2":"/General/Applications_Static.xlsx","01K6DKMEGFSAF54S3NDBC3KRIQGDQPZRJV":"/Security Screening CSV/Applications_Static.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"groups/68a33be5-d3e1-4a2a-a0b0-bac7b74f35e1","drive":"b!XLIm9vGa4EquXJ3nLAdPn0wrZbF6pqBIl_7TfcIQQ8p3DaslgsH5QKN3y0owYTCl","file":"01K6DKMEGFSAF54S3NDBC3KRIQGDQPZRJV","table":"{00000000-000C-0000-FFFF-FFFF05000000}","item/Request Type":"@variables('reqType')","item/Created On":"@triggerOutputs()?['body/createdon']","item/User Email":"@triggerOutputs()?['body/ss_useremail']","item/User Full Name":"@triggerOutputs()?['body/ss_userfullname']","item/Lvl Req":"@variables('lvlReq')","item/Lvl Req Other":"@triggerOutputs()?['body/ss_levelrequiredother']","item/Pos Type":"@variables('posType')","item/Pos Type Other":"@triggerOutputs()?['body/ss_positiontypeother']","item/Justification":"@triggerOutputs()?['body/ss_justification']","item/StartDate":"@triggerOutputs()?['body/ss_startdate']","item/EndDate":"@triggerOutputs()?['body/ss_enddate']","item/Pos Number":"@triggerOutputs()?['body/ss_positionnumber']","item/Pos Title":"@triggerOutputs()?['body/ss_positiontitle']","item/Group ~1 Lvl":"@triggerOutputs()?['body/ss_grouplevel']","item/PRI ~1 ID":"@triggerOutputs()?['body/ss_idnumberprirankandservicenumber']","item/Hiring Manager Name":"@triggerOutputs()?['body/ss_hiringmanager']","item/Hiring Manager Email":"@triggerOutputs()?['body/ss_hiringmanageremail']","item/Hiring Manager Phone":"@triggerOutputs()?['body/ss_hiringmanagerworkphone']","item/Hiring Manager Fax":"@triggerOutputs()?['body/ss_faxnumber']","item/New~1Existing":"@variables('newOrExist')","item/Applicant First Name":"@triggerOutputs()?['body/ss_candidatelegalgivennames']","item/Applicant Last Name":"@triggerOutputs()?['body/ss_candidatesurname']","item/Applicant DOB":"@triggerOutputs()?['body/ss_candidatedob']","item/Preferred Language":"@variables('prefLang')","item/Applicant Email":"@triggerOutputs()?['body/ss_candidateemail']"},"authentication":"@parameters('$authentication')"}}}},"Case_Verification":{"case":"Verification","actions":{"Add_a_row_into_Verification":{"runAfter":{},"metadata":{"01K6DKMEEZLMBBC2HBBRF2SBLFFYUXLQUD":"/Security Screening CSV/Applications_Static.xlsx","tableId":"{00000000-000C-0000-FFFF-FFFF04000000}","01VYQUAH2EL34UZVYNJJHZVQPNNPRV7UZZ":"/General/Applications_Static.xlsx","01VYQUAH5TFPXVBFEM6RCZW4ZHFEIVICB2":"/General/Applications_Static.xlsx","01K6DKMEGFSAF54S3NDBC3KRIQGDQPZRJV":"/Security Screening CSV/Applications_Static.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"groups/68a33be5-d3e1-4a2a-a0b0-bac7b74f35e1","drive":"b!XLIm9vGa4EquXJ3nLAdPn0wrZbF6pqBIl_7TfcIQQ8p3DaslgsH5QKN3y0owYTCl","file":"01K6DKMEGFSAF54S3NDBC3KRIQGDQPZRJV","table":"{00000000-000C-0000-FFFF-FFFF04000000}","item/Request Type":"@variables('reqType')","item/Created On":"@triggerOutputs()?['body/createdon']","item/User Email":"@triggerOutputs()?['body/ss_useremail']","item/User Full Name":"@triggerOutputs()?['body/ss_userfullname']","item/Requester's Name":"@triggerOutputs()?['body/ss_requestername']","item/Requester's email":"@triggerOutputs()?['body/ss_requesteremail']","item/Department w~1 Current Clearance":"@triggerOutputs()?['body/ss_departmentwithheldclearance']","item/Applicant First Name":"@triggerOutputs()?['body/ss_candidatelegalgivennames']","item/Applicant Last Name":"@triggerOutputs()?['body/ss_candidatesurname']","item/Applicant DOB":"@triggerOutputs()?['body/ss_candidatedob']"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{"Add_a_row_into_a_table":{"runAfter":{},"metadata":{"01K6DKMEEZLMBBC2HBBRF2SBLFFYUXLQUD":"/Security Screening CSV/Applications_Static.xlsx","tableId":"{00000000-000C-0000-FFFF-FFFF06000000}","01VYQUAH2EL34UZVYNJJHZVQPNNPRV7UZZ":"/General/Applications_Static.xlsx","01VYQUAH5TFPXVBFEM6RCZW4ZHFEIVICB2":"/General/Applications_Static.xlsx","01K6DKMEGFSAF54S3NDBC3KRIQGDQPZRJV":"/Security Screening CSV/Applications_Static.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"groups/68a33be5-d3e1-4a2a-a0b0-bac7b74f35e1","drive":"b!XLIm9vGa4EquXJ3nLAdPn0wrZbF6pqBIl_7TfcIQQ8p3DaslgsH5QKN3y0owYTCl","file":"01K6DKMEGFSAF54S3NDBC3KRIQGDQPZRJV","table":"{00000000-000C-0000-FFFF-FFFF06000000}","item/Time":"@utcNow()"},"authentication":"@parameters('$authentication')"}}}},"expression":"@variables('reqType')","type":"Switch"}}}},"schemaVersion":"1.0.0.0"}