Workflows/Importdata-963886EE-E6CA-EB11-BACC-000D3A09C7A4.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"ss_sharedcommondataserviceforapps_aaf57"},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataservice":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"si_sharedcommondataservice_69276"},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Apply_to_each":{"foreach":"@outputs('List_Request_Types')?['body/value']","actions":{"Add_Request_Type":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ss_requesttypes","item/ss_englishname":"@items('Apply_to_each')?['ss_englishname']","item/ss_frenchname":"@items('Apply_to_each')?['ss_frenchname']","item/ss_name":"@items('Apply_to_each')?['ss_name']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_Request_Types":["Succeeded"]},"type":"Foreach"},"List_Request_Types":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"https://pace-dev-tcd365.crm3.dynamics.com","table":"ss_requesttypes"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_Form_Previously_Completeds":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"https://pace-dev-tcd365.crm3.dynamics.com","table":"ss_formpreviouslycompleteds"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_2":{"foreach":"@outputs('List_Form_Previously_Completeds')?['body/value']","actions":{"Add_forms_previous":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ss_formpreviouslycompleteds","item/ss_name":"@items('Apply_to_each_2')?['ss_name']","item/ss_englishname":"@items('Apply_to_each_2')?['ss_englishname']","item/ss_frenchname":"@items('Apply_to_each_2')?['ss_frenchname']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_Form_Previously_Completeds":["Succeeded"]},"type":"Foreach"},"List_Level_Requested":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"https://pace-dev-tcd365.crm3.dynamics.com","table":"ss_levelrequesteds"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_3":{"foreach":"@outputs('List_Level_Requested')?['body/value']","actions":{"Add_Level_Requested":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ss_levelrequesteds","item/ss_name":"@items('Apply_to_each_3')?['ss_name']","item/ss_englishname":"@items('Apply_to_each_3')?['ss_englishname']","item/ss_frenchname":"@items('Apply_to_each_3')?['ss_frenchname']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_Level_Requested":["Succeeded"]},"type":"Foreach"},"List_NewOrExistingCandidates":{"runAfter":{"Apply_to_each_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"https://pace-dev-tcd365.crm3.dynamics.com","table":"ss_neworexistingcandidates"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_4":{"foreach":"@outputs('List_NewOrExistingCandidates')?['body/value']","actions":{"Add_NewOrExistingCandidates":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ss_neworexistingcandidates","item/ss_name":"@items('Apply_to_each_4')?['ss_name']","item/ss_englishname":"@items('Apply_to_each_4')?['ss_englishname']","item/ss_frenchname":"@items('Apply_to_each_4')?['ss_frenchname']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_NewOrExistingCandidates":["Succeeded"]},"type":"Foreach"},"List_Position_Types":{"runAfter":{"Apply_to_each_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"https://pace-dev-tcd365.crm3.dynamics.com","table":"ss_positiontypes"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_5":{"foreach":"@outputs('List_Position_Types')?['body/value']","actions":{"Add_Position_Types":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ss_positiontypes","item/ss_name":"@items('Apply_to_each_5')?['ss_name']","item/ss_englishname":"@items('Apply_to_each_5')?['ss_englishname']","item/ss_frenchname":"@items('Apply_to_each_5')?['ss_frenchname']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_Position_Types":["Succeeded"]},"type":"Foreach"},"List_Preferred_Language_Table":{"runAfter":{"Apply_to_each_5":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"https://pace-dev-tcd365.crm3.dynamics.com","table":"ss_preferredlanguages"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_6":{"foreach":"@outputs('List_Preferred_Language_Table')?['body/value']","actions":{"Add_Preferred_Language_Table":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ss_preferredlanguages","item/ss_name":"@items('Apply_to_each_6')?['ss_name']","item/ss_englishname":"@items('Apply_to_each_6')?['ss_englishname']","item/ss_frenchname":"@items('Apply_to_each_6')?['ss_frenchname']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_Preferred_Language_Table":["Succeeded"]},"type":"Foreach"},"List_Security_Screening_Languages":{"runAfter":{"Apply_to_each_6":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"https://pace-dev-tcd365.crm3.dynamics.com","table":"ss_securityscreeninglanguages"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_7":{"foreach":"@outputs('List_Security_Screening_Languages')?['body/value']","actions":{"Add_Security_Screening_Languages":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ss_securityscreeninglanguages","item/ss_name":"@items('Apply_to_each_7')?['ss_name']","item/ss_en":"@items('Apply_to_each_7')?['ss_en']","item/ss_fr":"@items('Apply_to_each_7')?['ss_fr']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_Security_Screening_Languages":["Succeeded"]},"type":"Foreach"}}}},"schemaVersion":"1.0.0.0"}